HOSTNAME=localhost

WEB_URL=http://localhost:3000
API_URL=http://localhost:3100

# พอร์ตแอปพลิเคชัน
WEB_PORT=3000
API_PORT=3100

# Core — ฐานข้อมูลและ Queue ส่วนกลาง
CORE_DB_ADMIN_PASSWORD=
CORE_DB_PASSWORD=
CORE_DB_CONNECTION="Host=203.172.40.211;Port=5433;Database=core;Username=core_user"
CORE_QUEUE_CONNECTION="amqp://$USER:$PASSWORD@localhost:5672/ida"

# BU01 — สาขาโรงพยาบาลที่ 1
BU01_DB_ADMIN_PASSWORD=
BU01_DB_PASSWORD=
BU01_DB_CONNECTION="Host=203.172.40.211;Port=5434;Database=bu01;Username=bu01user"
BU01_QUEUE_CONNECTION="amqp://$USER:$PASSWORD@localhost:5672/ida"

# BU02 — สาขาโรงพยาบาลที่ 2
BU02_DB_ADMIN_PASSWORD=
BU02_DB_PASSWORD=
BU02_DB_CONNECTION="Host=203.172.40.211;Port=5435;Database=bu02;Username=bu02user"
BU02_QUEUE_CONNECTION="amqp://$USER:$PASSWORD@localhost:5672/ida"

