HOSTNAME=localhost

WEB_URL=http://localhost:3000
API_URL=http://localhost:3100

WEB_PORT=3000
API_PORT=3100

CORE_DB_ADMIN_PASSWORD=
CORE_DB_PASSWORD=
CORE_DB_CONNECTION="Host=203.172.40.211;Port=5433;Database=core;Username=core_user"

BU01_DB_ADMIN_PASSWORD=
BU01_DB_PASSWORD=
BU01_DB_CONNECTION="Host=203.172.40.211;Port=5434;Database=bu01;Username=bu01user"

BU02_DB_ADMIN_PASSWORD=
BU02_DB_PASSWORD=
BU02_DB_CONNECTION="Host=203.172.40.211;Port=5435;Database=bu02;Username=bu02user"

CORE_API_PORT=3101
CORE_API_URL=http://localhost:3101
BU01_API_PORT=3102
BU01_API_URL=http://localhost:3102
BU01_API_PATH=/bu01
BU01_HOSPITAL_ID=BU01
BU02_API_PORT=3103
BU02_API_URL=http://localhost:3103
BU02_API_PATH=/bu02
BU02_HOSPITAL_ID=BU02

IDA_SERVICE_API_KEY=
Jwt__Key=
Jwt__Issuer=ida-api
Jwt__Audience=ida-web
Jwt__LifetimeHours=8
Security__DataProtectionKey=
Security__HashSalt=
